html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;//必ずem!!
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  letter-spacing: 0;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul {
  font-weight: 700;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  outline: none;
}

li {
    list-style: none;
}
  
textarea,
input[type="text"],
input[type="tel"],
input[type="password"] {
  // iOSのフィールド内側のシャドウを無くす
  appearance: none;
}
  
input::-ms-clear,
input::-ms-reveal {
  // IE11のフィールドの×ボタンを非表示にする
  visibility: hidden;
}