@use '../base/mediaquery' as md;

.blog {
    padding-top: 57px;
    padding-bottom: 91px;
    background-color: #EEFBFB;
    &__section-title {
        margin-bottom: 55px;
    }
    &__cards {
        width: 89.751%;
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
        @include md.l-pc {
            max-width: 1500px;
            .card__body {
                padding: 32px 18px 70px;
            }
        };
        @include md.sp {
            max-width: 500px;
        };
    }
}