@use '../base/mediaquery' as md;

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    position: relative;
    &__img-wrapper {
        position: relative;
        padding-top: 66.66%;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    &__body {
        padding: 16px 18px 35px 18px;
        > *:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        margin-bottom: 3px;
        font-size: 1.8rem;
        line-height: 1.4444;
    }
    &__date {
        font-size: 1.6rem;
        line-height: 1.625;
        color: #444;
        position: absolute;
        right: 36px;
        bottom: 11px;
    }
    &--link {
        display: block;
        color: currentColor;
        transition: .3s;
        cursor: pointer;
        .card__title {
            transition: .3s;
        }
        &:focus,
        &:hover {
            opacity: .7;
            .card__title {
                text-decoration: underline;
            }
        }
    }
}

.cards {
    display: flex;
    &--col3 > &__item {
        width: 31.707%;
        margin-right: 2.439%;
        margin-bottom: 30px;
        background-color: #fff;
        @include md.sp {
            width: 100%;
        };
        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
    @include md.sp {
        display: block;
    };
}
