@use '../base/mediaquery' as md;

.faq-area {
    padding-top: 57px;
    padding-bottom: 86px;
    &__section-title {
        margin-bottom: 33px;
    }
    &__accordion {
        margin-right: auto;
        margin-left: auto;
        max-width: 907px;
        @include md.l-pc {
            max-width: 1154px;
        };
    }
}