@use '../base/mediaquery' as md;

.price {
    padding-top: 57px;
    padding-bottom: 69px;
    &__section-title {
        margin-bottom: 71px;
    }
    &__horizontal-table {
        margin-right: auto;
        margin-bottom: 38px;
        margin-left: auto;
        max-width: 926px;
        @include md.l-pc {
            max-width: 1177px;
        };
    }
    &__caution-text {
        color: #444444;
        line-height: 1.625;
        text-align: center;
    }
}