@use '../base/mediaquery' as md;

.site-title {
    display: flex;
    align-items: center;
    color: #333;
    &__logo-wrapper {
        margin-right: 16px;
        @include md.sp {
            width: 30px;
            height: 30px;
        };
    }
    &__text {
        font-size: 2.4rem;
        line-height: 1.3333;
        @include md.sp {
            font-size: 2rem;
        };
    }
}