.swiper-slide {
    height: auto !important;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    max-width: 322px;
}
.swiper-body {
    //height: 100% !important;
    padding: 21px 18px 42px;
}
.swiper-title {
    margin-bottom: 35px;
    line-height: 1.3125;
}
.swiper-text {
    font-size: 1.4rem;
    line-height: 1.3571;
}