.verticle-nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &__item {
        margin-right: 46px;
        transition: .3s;
        &:hover,
        &:focus {
            opacity: .7;
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            color: #333;
        }
    }
}